.wrapper
	.drop
		.cont
			i class='fa fa-cloud-upload'
			.tit Drag & Drop
			.desc
				' your files to Assets, or
			.browse click here to browse
		output#list
		input#files type="file" name="files[]" multiple="true"